/* General Body and Typography Styling */
body {
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
  background-color: #f5f1e8;
  color: #333;
}

h1, h2, p {
  margin: 0;
}

h1 {
  font-style: italic;
  font-size: 68px;
  font-family: 'Cormorant Garamond', serif;
  line-height: 100%;
  margin-bottom: 0;
}
 p{
  font-size: 18px;
  font-family: 'Cormorant Garamond', serif;
  line-height: 100%;
  margin: 0;
 }


h5 {
  font-size: 10pt;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 200;

}

h6 {
  font-size: 10pt;
  margin-top: 0;
  padding-bottom: 350px;
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
}

/* Container to Hold Sections */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

/* Scroll Section Styling */
.scroll-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh; /* Full height scroll sections */
  padding: 40px 0;
}

/* Intro Section (First Scroll Section) */
#intro-scroll .intro-text {
  flex: 1;
  max-height: max-content;
}

#intro-scroll .intro-text h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

#intro-scroll .intro-text p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

#intro-scroll .intro-image {
  flex: 1;
  text-align: right;
}

#intro-scroll .intro-image img {
  max-width: 100%;
  height: auto;
}

/* Scroll 1 Section */
#scroll-1 {
  display: flex;
  justify-content: space-between;
}

#scroll-1 .scroll-content {
  flex: 1;
}

#scroll-1 .scroll-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#scroll-1 .scroll-image {
  flex: 1;
  text-align: center;
}

#scroll-1 .scroll-image h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
}

#scroll-1 .scroll-image img {
  max-width: 100%;
  height: auto;
}

/* Geo Scroll Section */
#geo-scroll {
  display: flex;
  justify-content: space-between;
}

#geo-scroll .scroll-geo {
  flex: 1;
}

#geo-scroll .scroll-geo img {
  max-width: 100%;
  height: auto;
}

#geo-scroll .geo-text {
  flex: 1;
  padding-left: 20px;
}

#geo-scroll .geo-text h2 {
  font-size: 2rem;
}

#geo-scroll .geo-text p {
  font-size: 1.2rem;
}

/* Responsive design for smaller screens */
@media (max-width: 981px) {
  .scroll-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .scroll-image, .scroll-geo {
    text-align: center;
  }

  .scroll-image img, .scroll-geo img {
    width: 100%;
  }
}

